			# BEGIN Default to HTTPS ENABLED ON DEPLOYMENT
#RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

			# END Default to HTTPS

			# Mod Rewrite
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

##Authentication##
RewriteRule ^account/(.*)/?$ authentication/$1.php [QSA,L]

RewriteRule ^oauth/bnet/?$ oauth/bnet/flow.php [QSA,L]
##/Authentication##
##GuildTools##
#/REGION/REALM/GUILD/*
RewriteRule ^starlight/?$ guild/starlight/hub.php [QSA,L]
RewriteRule ^(us|eu|kr|tw|cn)/(.*)/(.*)/enroll/?$ guild/enroll.php?region=$1&realm=$2&guild=$3 [QSA,L]
RewriteRule ^(us|eu|kr|tw|cn)/(.*)/(.*)/apply/?$ guild/apply.php?region=$1&realm=$2&guild=$3 [QSA,L]
RewriteRule ^(us|eu|kr|tw|cn)/(.*)/(.*)/raid/([0-9]{1,11})/?$ guild/raid/overview.php?region=$1&realm=$2&guild=$3&raidid=$4 [QSA,L]
RewriteRule ^(us|eu|kr|tw|cn)/(.*)/(.*)/raid/([0-9]{2}-[0-9]{2}-[0-9]{4})-([0-9]{2}:[0-9]{2})/ex?$ guild/raid/example.php?region=$1&realm=$2&guild=$3&date=&4 [QSA,L]
RewriteRule ^(us|eu|kr|tw|cn)/(.*)/(.*)/raid/create/?$ guild/raid/create.php?region=$1&realm=$2&guild=$3 [QSA,L]
RewriteRule ^(us|eu|kr|tw|cn)/(.*)/(.*)/benches/?$ guild/benches/overview.php?region=$1&realm=$2&guild=$3 [QSA,L]
RewriteRule ^(us|eu|kr|tw|cn)/(.*)/(.*)/benches/([0-9]{2}-[0-9]{2}-[0-9]{4})$ guild/benches/view.php/?region=$1&realm=$2&guild=$3&date=$4 [QSA,L]
#http://localhost:3000/eu/the-maelstrom/starlight/benches/24-06-2019
##/GuildTools##

			# Mod Rewrite
