{% extends 'base.html.twig' %} {% block title %}Donate{% endblock title %} {%
block content %}

<form class="contact-form" action="" id="contactform" method="post">
  <h1>Donate</h1>
  <p><small>* required</small></p>
  <textarea
    class="contact-form-text"
    name="message"
    cols="30"
    rows="10"
    placeholder="Your message*"
    required
  ></textarea>
  <input
    name="name"
    type="text"
    class="contact-form-text"
    placeholder="Your name"
  />
  <input
    name="email"
    type="email"
    class="contact-form-text"
    placeholder="Your email"
  />
  <div style="text-align: center;">
    <div
      id="captcha"
      class="g-recaptcha"
      data-callback="captchaCompleteCallback"
      data-expired-callback="captchaExpiredCallback"
      data-sitekey="6LcJZ9MUAAAAAPYzh-0gvNcn_rN2lcj0FGZmYdcC"
      style="display: inline-block;"
    ></div>
  </div>
  <input
    id="submit"
    type="submit"
    class="contact-form-text"
    value="Donate"
    disabled
  />
</form>

<form
  action="https://www.paypal.com/cgi-bin/webscr"
  method="post"
  target="_top"
>
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input
    type="hidden"
    name="hosted_button_id"
    value="{{ paypal_hosted_button_id }}"
  />
  <input
    type="image"
    src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif"
    border="0"
    name="submit"
    title="PayPal - The safer, easier way to pay online!"
    alt="Donate with PayPal button"
  />
  <img
    alt=""
    border="0"
    src="https://www.paypal.com/en_GB/i/scr/pixel.gif"
    width="1"
    height="1"
  />
</form>

{% endblock content %}
