{% extends 'base.html.twig' %} {% block title %}Home{% endblock title %} {%
block content %}
<div class="timeline">
  <ul>
    {% for phase in history %}
    <li>
      <div class="body">
        <h3>{{ phase.title }}</h3>
        <p>{{ phase.content }}</p>
      </div>
      <div class="time">
        <h4>{{ phase.date }}</h4>
      </div>
    </li>
    {% endfor %}
    <div style="clear: both;"></div>
  </ul>
</div>
{% endblock content %}
